<!DOCTYPE html>
<html>
<head>
  <title>Hippo activity log</title>
  <%= stylesheet_link_tag    "hippo_activity_log/application", media: "all" %>
  <%= javascript_include_tag "hippo_activity_log/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
